@model List<SchoolProject.WebUI.Models.Student>
@{
    ViewData["Title"] = "Home Page";
}



<h2>Student List</h2>

<table>
    <tr>
        <th>StudID</th>
        <th>Name</th>
        <th>Address</th>
        <th>DepartmentName</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.StudID</td>
            <td>@student.Name</td>
            <td>@student.Address</td>
            <td>@student.DepartmentName</td>
        </tr>
    }
</table>